/* 定义 OPPO Sans 常规体 */
@font-face {
    font-family: 'OPPO Sans';
    /* 我们给这个字体起的名字，后面会用到 */
    src: url('/fonts/OPPOSans/OPPOSans.woff2') format('woff2');
    /* 字体文件的路径 */
    font-weight: 400;
    /* 对应常规字重 */
    font-style: normal;
    font-display: swap;
    /* 优化加载体验，先显示系统字体，字体加载完后再替换 */
}


/* 如果你还加了其他字重，继续在这里定义... */